.carousel-item {
  height: 400px;
  width: 100%;
}

//.carousel-inner img {
// object-fit: cover;
//  height: 400px;
//  width: 900px;
//}

.card-body{
  text-align: center;
}

.containerGutter{
  background-color: #B2FF9F;
}

.col1{
  border-radius: 20px;
}

.row23{
  background-color: bisque;
}

.buttonOptions{
  font-size: 18px;
  width: 100px;
}

.button {
  width: 100px;
}

.center{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-bg{
  width: 100%;
  background-image: url('/assets/img/backGround.png');
}

.carousel-caption {
  background-color: rgba(198, 148, 255, 0.5);
}

