<section>
  <div class="py-3">
    <div class="text-center">
      <span>Melhores Atrações</span>
    </div>
  </div>
  <div class="container py-3">
    <div class="row">
      <div class="col-md-4">
        <div class="card" >
          <img src="https://cdn-hweb.hsystem.com.br/5873d325c19a4207cc40b87c/8551c7cb9ffa4963855c752b712f2edc.jpg" class="card-img-top" alt="Encontro das Águas" (click)="navigateTo('Detalhes')" type="button">
          <div class="card-body">
            <h5 class="card-title">Título: </h5>
            <p class="card-text">Avaliação: </p>
            <p class="card-text">Preço: </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://cdn-hweb.hsystem.com.br/5873d325c19a4207cc40b87c/8551c7cb9ffa4963855c752b712f2edc.jpg" class="card-img-top" alt="Encontro das Águas" (click)="navigateTo('Detalhes')" type="button">
          <div class="card-body">
            <h5 class="card-title">Título: </h5>
            <p class="card-text">Avaliação: </p>
            <p class="card-text">Preço: </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://cdn-hweb.hsystem.com.br/5873d325c19a4207cc40b87c/8551c7cb9ffa4963855c752b712f2edc.jpg" class="card-img-top" alt="Encontro das Águas" (click)="navigateTo('Detalhes')" type="button">
          <div class="card-body">
            <h5 class="card-title">Título: </h5>
            <p class="card-text">Avaliação: </p>
            <p class="card-text">Preço: </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="py-3">
    <div class="text-center">
      <span>Passeios do Meio Dia!</span>
    </div>
  </div>
  <div class="container py-3">
    <div class="row">
      <div class="col-md-3">
        <div class="card" >
          <img src="https://cdn-hweb.hsystem.com.br/5873d325c19a4207cc40b87c/8551c7cb9ffa4963855c752b712f2edc.jpg" class="card-img-top" alt="Encontro das Águas" (click)="navigateTo('Detalhes')" type="button">
          <div class="card-body">
            <h5 class="card-title">Título: </h5>
            <p class="card-text">Avaliação: </p>
            <p class="card-text">Preço: </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="https://cdn-hweb.hsystem.com.br/5873d325c19a4207cc40b87c/8551c7cb9ffa4963855c752b712f2edc.jpg" class="card-img-top" alt="Encontro das Águas" (click)="navigateTo('Detalhes')" type="button">
          <div class="card-body">
            <h5 class="card-title">Título: </h5>
            <p class="card-text">Avaliação: </p>
            <p class="card-text">Preço: </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="https://cdn-hweb.hsystem.com.br/5873d325c19a4207cc40b87c/8551c7cb9ffa4963855c752b712f2edc.jpg" class="card-img-top" alt="Encontro das Águas" (click)="navigateTo('Detalhes')" type="button">
          <div class="card-body">
            <h5 class="card-title">Título: </h5>
            <p class="card-text">Avaliação: </p>
            <p class="card-text">Preço: </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="https://cdn-hweb.hsystem.com.br/5873d325c19a4207cc40b87c/8551c7cb9ffa4963855c752b712f2edc.jpg" class="card-img-top" alt="Encontro das Águas" (click)="navigateTo('Detalhes')" type="button">
          <div class="card-body">
            <h5 class="card-title">Título: </h5>
            <p class="card-text">Avaliação: </p>
            <p class="card-text">Preço: </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="py-3">
    <div class="text-center">
      <span>O que fazer em Manaus?</span>
    </div>
  </div>

  <!--  //Inicio do carrossel-->
  <div class="py-3">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <!--      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">-->
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="https://turismo.eurodicas.com.br/wp-content/uploads/2018/12/fotos-da-torre-de-paris-1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Encontro das Águas</h5>
            <p>RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA .</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="https://cdn.pixabay.com/photo/2018/04/25/09/26/eiffel-tower-3349075_1280.jpg"class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Encontro das Águas</h5>
            <p>RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA .</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="https://i0.wp.com/hotbook.mx/wp-content/uploads/2019/01/fotosparis_portada.jpg?fit=1024%2C682&ssl=1" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Encontro das Águas</h5>
            <p>RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA RESUMO DA MATÉRIA .</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!--  </div>-->
  <!--  //Fim do carrossel-->

</section>
