.carousel-item {
  height: 400px;
}

.carousel-inner img {
  object-fit: cover;
  height: 400px;
}

.card-body{
  text-align: center;
}

.containerGutter{
  background-color: #B2FF9F;
} 

.col1{
  border-radius: 20px;
}

.row23{
  background-color: bisque;
}

.buttonOptions{
  font-size: 18px;
  width: 100px;
}

.button {
  width: 100px;
}

.slider-custom {
  width: 1800px; /* Defina a largura desejada */
  height: 600px; /* Defina a altura desejada */
}

