<div class="mx-3 py-3">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="https://cdn-hweb.hsystem.com.br/5873d325c19a4207cc40b87c/8551c7cb9ffa4963855c752b712f2edc.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Título: </h5>
          <div class="row ">
            <p class="col-md-6">Agência:</p>
            <p class="col-md-6">Avaliação:</p>
          </div>
          <p class="card-text">Descrição: </p>
          <div class="row me-3">
            <h5 class="card-text col-md-8">Preço: R$ 1.000</h5>
            <a href="#" class="btn btn-success col-md-4">Conferir</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-3">
    Rota da trilha
  </div>


  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-6">
        <div style="text-decoration:none; overflow:hidden;max-width:100%;width:700px;height:300px;">
          <div id="google-maps-display" style="height:100%; width:100%;max-width:100%;">
            <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/directions?origin=Manaus,+AM,+Brasil&destination=Manaus,+AM,+Brasil&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">
            </iframe>
          </div>
          <a class="google-maps-html" href="https://www.bootstrapskins.com/themes" id="make-map-infor-mation">premium bootstrap themes</a>
          <style>#google-maps-display img{max-width:none!important;background:none!important;font-size: inherit;font-weight:inherit;}</style>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Paradas </h5>
          <div>
            <p>1 - Parada</p>
            <p>2 - Parada</p>
            <p>3 - Parada</p>
            <p>4 - Parada</p>
            <p>5 - Parada</p>
            <p>6 - Parada</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-3 text-center">
    Avaliações
  </div>
  <div class="col-md-6">
  <div class="card">
    <div class="row">
      <div class="col-md-4">
        <div class="text-center">
          <img src="https://scontent.fmao1-1.fna.fbcdn.net/v/t39.30808-6/300782867_2640493092753636_251849627858674131_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=174925&_nc_ohc=BblkMbJT3uQAX_tpzcW&_nc_ht=scontent.fmao1-1.fna&oh=00_AfA9J9cJbRFLtO2pupuEK4_wxtJWNI6mXHbPbiQ-IHwVHQ&oe=641EE542" class="card-img mx-3 my-3 rounded-circle">
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Matheus Assunção</h5>
          <h5 class="card-title">Passeio: Presidente Figueiredo</h5>
          <p class="card-text">Resenha Resenha Resenha Resenha Resenha Resenha Resenha Resenha</p>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>
